/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  max-width: 1690px;
  margin: 0 auto;
}
body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
.nav-container {
  background: #212121;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 15px 0;
}
@media (max-width: 640px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
}
.nav-container .logo {
  margin: auto 0;
  height: 50px;
}
.nav-container .nav {
  display: flex;
  max-width: 550px;
  margin: left auto;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 400px) {
  .nav-container .nav {
    flex-direction: column;
    align-items: center;
  }
}
.nav-container a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: auto 20px;
  display: inline-block;
}
.nav-container a:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: red;
  transition: 300ms;
}
.nav-container a:hover:after {
  width: 100%;
}
@media (max-width: 400px) {
  .nav-container a:hover:after {
    padding: 15px 0;
  }
}
.nav-container .btn {
  height: 50px;
  margin: auto 0 auto 10px;
  float: right;
  background-color: white;
  border-style: none;
  border-radius: 15px;
  padding: 0 30px;
}
@media (max-width: 640px) {
  .nav-container .btn {
    height: 30px;
  }
}
header .header-background {
  background-image: url(/images/headerimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-position: center;
}
header p {
  font-size: 2rem;
  max-width: 600px;
  color: black;
  text-shadow: 1px 1px white;
  padding-bottom: 200px;
  font-style: bold;
}
header .cta-btn {
  margin-bottom: 70px;
  background-color: white;
  text-decoration: #221122;
  height: 50px;
  width: 100px;
  border-radius: 15px;
}
.main-container {
  margin: 0 20px;
}
.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 640px) {
  .stats-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.stats-container div {
  margin: 15px;
}
.stats-container div h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}
.stats-container div p {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #5e5e5e;
}
.mission {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 640px) {
  .mission {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  }
}
.mission h2 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.mission img {
  width: 48%;
  object-fit: scale-down;
  height: 400px;
}
@media (max-width: 640px) {
  .mission img {
    width: 100%;
  }
}
.mission p {
  font-size: 1.2rem;
  color: #5e5e5e;
  width: 48%;
  line-height: 2;
}
@media (max-width: 640px) {
  .mission p {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .objectives {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.objectives h3 {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}
.objectives .objectives-summary h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}
.objectives .objectives-summary p {
  font-size: 1.2rem;
  color: #5e5e5e;
  line-height: 2;
  text-align: center;
}
.objectives .core-objectives {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .objectives .core-objectives {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.objectives .core-objectives div {
  width: 30%;
}
@media (max-width: 640px) {
  .objectives .core-objectives div {
    width: 100%;
  }
}
.objectives .core-objectives h4 {
  font-size: 1.8rem;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.objectives .core-objectives p {
  font-size: 1.2rem;
  color: #5e5e5e;
  line-height: 2;
  text-align: center;
}
.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.network-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 560px;
  margin: 0 auto;
}
.network-logos a img {
  width: 100px;
}
footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #212121;
  align-items: center;
  height: 380px;
  width: 100%;
}
@media (max-width: 640px) {
  footer {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
  }
}
footer h5 {
  font-size: 1.2rem;
  color: #d2d2d2;
}
footer p {
  font-size: 1rem;
  color: #797979;
}
footer div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
footer .fa {
  padding: 20px;
  font-size: 1.2rem;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
footer .fa:hover {
  opacity: 0.7;
}
footer .fa-facebook {
  background: #3B5998;
  color: white;
}
footer .fa-twitter {
  background: #55ACEE;
  color: white;
}
footer .fa-youtube {
  background: #bb0000;
  color: white;
}
footer .fa-instagram {
  background: #125688;
  color: white;
}
.carousel {
  max-width: 1690px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: column;
}
@media (max-width: 640px) {
}
.carousel h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 2rem;
  width: 100%;
}
.carousel div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.carousel img {
  width: 50%;
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
  padding-bottom: 15px;
}
@media (max-width: 640px) {
  .carousel img {
    width: 100%;
  }
}
.carousel .carousel-img {
  display: none;
}
.carousel .carousel-content {
  display: none;
}
.carousel .active {
  display: flex;
}
.carousel p {
  font-size: 1.2rem;
}
