body {
  font-size: 62.5%;
}
.nav-container {
  background: #212121;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.nav-container .logo {
  height: 100px;
  width: 120px;
}
.nav-container h1 {
  font-size: 1.6rem;
  color: white;
  margin: auto 0;
}
.nav-container .nav {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  align-items: center;
}
.nav-container .nav a {
  margin: 30px;
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}
.nav-container .nav .btn {
  height: 50px;
}
