.carousel{
    max-width: 1690px;
    display:flex; 
    justify-content:space-between; 
    //flex-wrap: wrap; 
    margin: 0 auto; 
    flex-direction: column;  
     
   h2{
       margin-top: 40px; 
       margin-bottom: 40px; 
       text-align: center; 
       font-size: 2rem; 
       width: 100%; 
        
   }
   div{
       display: flex; 
       justify-content: center; 
       flex-direction: column; 
       align-items: center; 
   }
   
   img{
       width: 50%; 
       height: 400px; 
       margin: 0 auto; 
   }
   .carousel-img{
       display: none; 
   }
  
   .carousel-content{
       display: none; 
   }
   .active{
    display: flex; 
}
   
}