.nav-container {
    background: #212121; 
    height: 100px; 
    display: flex; 
    justify-content: space-between; 

    h1 {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        color: white; 

    }

    .nav {
        display: flex; 
        justify-content: flex-end; 
        width: 80%; 
        align-items: center; 
        
        a {
            margin: 30px; 
            color: white; 
            text-decoration: none; 
            font-size: 1.6rem; 
        }
    }

}