.nav-container {
    background: #212121;
    height: 100px;
    display: flex;
    justify-content: space-between;

    .logo {
        // width: 200px;
        margin: auto 0;
    }

    .nav {
        display: inline-flex;
        width: 500px;
        height: 100%;
        float: right;
        

        a {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            margin: auto 20px;
        }

        .btn {
            height: 50px;
            margin: auto;
            float: right;
        }
    }
}